:root {
  --color-primary-bg: #0B1D26;     
  --color-secondary-bg: #111111;   
  --color-accent: #C9A24D;        
  --color-text-primary: #FFFFFF;   
  --color-text-secondary: #CFCFCF;  
}
body {
    margin: 0;
    font-family: "Inter", system-ui, sans-serif;
    background-color: var(--color-primary-bg);
    color: var(--color-text-secondary);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 100px;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}
